# build
dist/
.astro/

# deps
node_modules/

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
.idea/
.vscode/
*.swp

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# cloudflare / vercel
.wrangler/
.vercel/
